alabaster==0.7.12
appdirs==1.4.3
appnope==0.1.0
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
black==19.3b0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
decorator==4.4.0
doc8==0.8.0
docutils==0.14
idna==2.8
imagesize==1.1.0
importlib-metadata==0.18
ipython==7.5.0
ipython-genutils==0.2.0
isort==4.3.20
jedi==0.13.3
Jinja2==2.10.1
jsonschema==3.0.1
jupyter-core==4.5.0
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.0.0
mypy==0.710
mypy-extensions==0.4.1
nbformat==4.4.0
packaging==19.0
parso==0.4.0
pbr==5.3.1
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.12.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
-e git+https://github.com/dangrie158/py-toolbox.git@4ec4be7d3d3094d4a9e6a71f4321c45c3402b82c#egg=py_toolbox
Pygments==2.4.2
pylint==2.3.1
pyparsing==2.4.0
pyrsistent==0.15.2
pytest==4.6.3
pytz==2019.1
requests==2.22.0
restructuredtext-lint==1.3.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==2.1.2
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
stevedore==1.30.1
toml==0.10.0
traitlets==4.3.2
typed-ast==1.4.0
urllib3==1.25.3
wcwidth==0.1.7
wrapt==1.11.2
zipp==0.5.1
