alabaster==0.7.12
appdirs==1.4.3
appnope==0.1.0
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
black==19.3b0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
decorator==4.4.0
docutils==0.14
idna==2.8
imagesize==1.1.0
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.13.3
Jinja2==2.10.1
jsonschema==3.0.1
jupyter-core==4.4.0
MarkupSafe==1.1.1
nbformat==4.4.0
packaging==19.0
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py-toolbox==0.1.0
Pygments==2.4.2
pyparsing==2.4.0
pyrsistent==0.15.2
pytz==2019.1
requests==2.22.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==2.0.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
toml==0.10.0
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
